body,
html,
#root {
  height: 100%;
  background-color: #eee;
}

@import './components/CenterContent/CenterContent.scss';
@import './scenes/LoginScene/LoginScene.scss';

.CoreuiCheckBox > .label {
  margin-left: 10px;
}

.DetailField-key {
  padding-right: 10px;
}
